.list-card {
    width: 100%;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--elevation-color);
    padding: 20px;
    
    .list-card_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        @media (max-width: 1600px) {
            justify-content: start;
            align-items: baseline;
            flex-direction: column;
        }

        .card-top_title {
            font-size: 1.7em;
            font-weight: bold;

            .draft {
                margin-left: 10px;
                font-size: 0.5em;
            }
        }
    }

    .list-card_description {
        opacity: 85%;
        margin-bottom: 15px;
    }
    .list-card_bottom {
        .card-top_tag {
            padding: 7px;
            border-radius: 5px;
            font-weight: bold;
            display: inline-block;
        }

        display: flex;
        flex-wrap: wrap;
        align-items: center;

        & > * {
            margin-right: 15px;
        }

        .icon-span {
            display: flex;
            align-items: center;
            justify-content: center;   
        }

        .card-bottom_icon {
            width: 15px;
            height: 15px;
            fill: white;
            margin-right: 5px;
        }
    }
}