@import "navigation.scss";

.main {
  margin-top: 10px;
  padding: 0 var(--padding) var(--padding) var(--padding);
}

.container {
  width: 100%;
}

aside {
  display: none;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 200px minmax(500px, 700px);
    padding: 20px;
    justify-content: center;

    .main {
      padding-top: 10px;
      width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .main {
    margin: 0;
  }

  .container {
    display: grid;
    grid-template-columns: 200px 720px 200px;
    padding: 20px;
    grid-gap: 10px;
  }

  aside {
    display: block;
    padding-top: 10px;

    .toc {
      position: sticky;
      top: 20px;

      .title {
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 20px;
      }

      ul {
        li {
          a {
            opacity: 50%;
            transition: all 50ms ease-in-out;
            &:hover {
              opacity: 100%;
            }
          }
          &.active > {
            a {
              opacity: 100%;
            }
          }

          ul {
            padding: 5px 0 5px 15px;
          }
        }
      }
    }
  }
}
