<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="{{.Site.Params.author}}">
        {{ block "meta" . }}
            <title>{{.Site.Title}}</title>  
        {{ end }}
        <link rel="shortcut icon" href="/images/habbo-card.png" type="image/png">
        {{ $styleCommons := resources.Get "scss/commons/index.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $styleCommons.Permalink }}">
        {{ block "stylesheets" . }}
            
        {{ end }}
    </head>
    <body>
        <div class="container">
            {{ partial "navigation" . }}
            <main class="main">
            {{ block "main" . }} {{ end }}
            </main>
            <aside>
            {{ block "aside" . }}{{ end }}
            </aside>
        </div>
        {{ $hamburgerJS := resources.Get "js/clickable-box.js" | minify | fingerprint}}
        <script src="{{$hamburgerJS.RelPermalink}}" defer></script>
    </body>
    {{ template "_internal/google_analytics_async.html" . }}
</html>