<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="{{ .Site.Params.author }}" />
    {{ block "meta" . }}
      <title>{{ .Site.Title }}</title>
      <meta
        name="description"
        content="gabriellazcano.com is a programming blog about javascript, golang and many other topics that might help the community"
      />
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@datsgabs" />
      <meta name="twitter:creator" content="@datsgabs" />

      <meta property="og:title" content="{{ .Site.Title }}" />
      <meta
        property="og:description"
        content="This site is devoted to promoting programming, which includes specifications, resources and interesting articles. Check it out! :)"
      />
      <meta property="og:type" content="website" />
      <meta
        name="twitter:image"
        content="{{ "/images/habbo-card.png" |
          absURL
        }}"
      />
      <meta
        property="og:image"
        content="{{ "/images/habbo-card.png" |
          absURL
        }}"
      />
    {{ end }}


    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta property="og:sitename" content="{{ .Site.Title }}" />

    <meta name="twitter:dnt" content="on" />

    <link rel="shortcut icon" href="/images/habbo-card.png" type="image/png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter&display=swap"
      rel="stylesheet"
    />

    <link rel="manifest" href="/manifest.json" />

    <script
      data-goatcounter="https://gabriellazcano.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
    ></script>

    <link
      rel="webmention"
      href="https://webmention.io/gabriellazcano.com/webmention"
    />
    <link
      rel="pingback"
      href="https://webmention.io/gabriellazcano.com/xmlrpc"
    />

    {{ $index := resources.Get "scss/index.scss" |
      resources.ToCSS | resources.Minify | resources.Fingerprint
    }}
    <link rel="stylesheet" href="{{ $index.Permalink }}" />

    {{ $layout := resources.Get "scss/layout.scss" |
      resources.ToCSS | resources.Minify | resources.Fingerprint
    }}
    <link rel="stylesheet" href="{{ $layout.Permalink }}" />

    {{ block "stylesheets" . }}{{ end }}
  </head>
  <body>
    <a href="https://twitter.com/DatsGabs" rel="me" style="display: none"
      >twitter.com/DatsGabs</a
    >
    <div class="container">
      {{ partial "navigation" . }}
      <main class="main">{{ block "main" . }}{{ end }}</main>
      <aside>
        {{ block "aside" . }}
          <div></div>
        {{ end }}
      </aside>
      <script>
        if ("serviceWorker" in navigator) {
          navigator.serviceWorker
            .register("/sw.js", { scope: "/" })
            .then(function (registration) {
              //console.log('Service Worker Registered');
            });

          navigator.serviceWorker.ready.then(function (registration) {
            //console.log('Service Worker Ready');
          });
        }
      </script>
    </div>
  </body>
</html>
