{{ define "main" }}
    <header class="list-title">
        <h1>{{.Title}}</h1>
    </header>
    {{.Content}}
    <ul class="listing">
        {{ range (.Paginator 5).Pages  }}
            {{ partial "list-card" . }}
        {{ end }}
        {{ partial "pager.html" . }}
    </ul>
    {{ partial "pager.html" . }}
{{ end }}

{{ define "aside" }}
<div>
    {{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
    {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
    <div class="tagbutton">
    <a href={{ .RelPermalink }} title="All pages with category <i>{{$name}}</i>">{{$name}}</a>
    <sup>{{$cnt}}</sup>
        </div>
    {{end}}
    {{end}}
</div>
{{ end }}
