{{ define "main" }}
  <div class="taxonoy">
    <h1>{{ .Title }}</h1>

    {{ .Content }}
    <div class="list">
      {{ range (.Paginator 25).Pages }}
        {{ partial "list-card" . }}
      {{ end }}
      {{ partial "pager.html" . }}
    </div>
    {{ $clickableBox := resources.Get "js/clickable-box.js" | minify | fingerprint }}
    <script src="{{ $clickableBox.RelPermalink }}" defer></script>
  </div>
{{ end }}

{{ define "stylesheets" }}
  {{ $list := resources.Get "scss/list.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $list.Permalink }}" />
{{ end }}
