{{ define "main" }}
    <div class="list">
        <header class="list_title">
            <h1>{{.Title}}</h1>
        </header>
        {{.Content}}
        <ul>
            {{ range (.Paginator 7).Pages  }}
                {{ partial "list-card" . }}
            {{ end }}
            {{ partial "pager.html" . }}
        </ul>
    </div>
</div>
{{ end }}

{{ define "aside" }}
<div>
    {{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
    {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
    <div class="tagbutton">
    <a href={{ .RelPermalink }} title="All pages with category <i>{{$name}}</i>">{{$name}}</a>
    <sup>{{$cnt}}</sup>
        </div>
    {{end}}
    {{end}}
</div>
{{ end }}

{{ define "stylesheets" }}
    {{ $list := resources.Get "scss/list/index.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $list.Permalink }}">
    {{ $listCard := resources.Get "scss/list/list-card.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $listCard.Permalink }}"> 
{{ end }}