{{ define "meta" }}
    <title>{{.Title}}</title>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@datsgabs" />
    <meta name="twitter:creator" content="@datsgabs" />
    <meta property="og:url" content="{{.Permalink}}" />
    <meta property="og:title" content="{{.Title}}" />
    <meta property="og:description" content="{{.Description}}" />
    <meta property="og:image" content="/images/habbo.png" />
{{ end }}

{{ define "main" }}
    <h1>{{.Title}}</h1>
    {{ partial "read-more.html" . }}
{{ end }}

{{ define "stylesheets" }}
    {{ $single := resources.Get "scss/single/index.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $single.Permalink }}"> 
{{ end }}
