{{ define "meta" }}
    <title>{{.Title}}</title>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@datsgabs" />
    <meta name="twitter:creator" content="@datsgabs" />
    <meta name="twitter:image" content="{{"/images/habbo-card.png" | absURL}}">
    <meta property="og:url" content="{{.Permalink}}" />
    <meta property="og:title" content="{{.Title}}" />
    <meta property="og:description" content="{{.Description}}" />
    <meta property="og:image" content="{{"/images/habbo-card.png" | absURL}}" />
{{ end }}

{{ define "main" }}
    <div class="single-header">
        <h1 class="single-header_title">{{.Title}}</h1>
        <p class="title-footnote">Author: {{.Site.Params.author}}</p>
        <p class="title-footnote">Published on {{.Date.Format "Jan 2, 2006"}}</p>
    </div>
    <article id="article" class="article">{{.Content}}</article>
    {{ partial "read-more.html" . }}
{{ end }}

{{ define "stylesheets" }}
    {{ $single := resources.Get "scss/single/index.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $single.Permalink }}"> 
{{ end }}
