@import "navigation.scss", 'layout.scss', 'archive.scss', 'newsletter.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'mononoki';
    line-height: 1em;
}

body.open {
    overflow: hidden;
}

:root {
    --bg-color: #121212;
    --elevation-color: #191919;
    --second-elevation-color: #202020;
}

body {
    background-color: var(--bg-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: white;
}

@font-face {
    font-family: 'mononoki';
    src: url('/fonts/mononoki-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'nunito';
    src: url('/fonts/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

ul {
    list-style: none;
}

.four-o-four {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 5em;
}





.highlight pre {
    /* Avoid pushing up the copy buttons. */
    margin: 0;
}

