@import "navigation.scss", 'layout.scss', 'archive.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'mononoki';
    line-height: 1em;
}

body.open {
    overflow: hidden;
}

:root {
    --bg-color: #121212;
}

body {
    background-color: var(--bg-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: white;
}

@font-face {
    font-family: 'mononoki';
    src: url('/fonts/mononoki-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'nunito';
    src: url('/fonts/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

ul {
    list-style: none;
}

.four-o-four {
    display: grid;
    place-items: center;
}

.copy-code-button {
    color: #272822;
    background-color: #FFF;
    border-color: #272822;
    border: 2px solid;
    border-radius: 3px 3px 0px 0px;

    /* right-align */
    display: block;
    margin-left: auto;
    margin-right: 0;

    margin-bottom: -2px;
    padding: 3px 8px;
    font-size: 0.8em;
}

.copy-code-button:hover {
    cursor: pointer;
    background-color: white;
}

.copy-code-button:focus {
    /* Avoid an ugly focus outline on click in Chrome,
       but darken the button for accessibility.
       See https://stackoverflow.com/a/25298082/1481479 */
    background-color: white;
    outline: 0;
}

.copy-code-button:active {
    background-color:white;
}

.highlight pre {
    /* Avoid pushing up the copy buttons. */
    margin: 0;
}

