@import 'media-queries.scss';

.container {
    width: 80vw;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    margin: auto;

    @media (max-width: 1100px) {
        width: 90vw;
        grid-template-columns: 150px 1fr;
    }

    @include mobile {
        width: 90vw;
        display: block;
        width: 100%;
    }
    
    @media (min-width: $tablet-width - 1) {
        & > * {
            padding: 40px 0;
        }
    }
    .main {
        padding: 40px 30px;
    }
}

@include mobile {
    aside {
        display: none;
    }
    .main {
        margin-top: 140px;
        padding: 0 !important;
    }
    .container {
        padding: 0 20px;
    }
}

aside {
    text-align: right;
    @include mobile {
        display: none;
    }
}