@import "media-queries.scss";

.container {
    width: 75vw;
    display: grid;
    grid-template-columns: 200px calc(100% - 400px) 200px;
    margin: auto;

    @media (max-width: 1500px) {
        width: 90vw;
    }

    @media (max-width: 1300px) {
        width: 90vw;
        grid-template-columns: 150px calc(100% - 150px);
    }

    @media (min-width: 2000px) {
        width: 70vw;
    }

    @include mobile {
        width: 90vw;
        display: block;
        width: 100%;
    }

    @media (min-width: $tablet-width - 1) {
        & > * {
            padding: 40px 0;
        }
    }

    .main {
        padding: 40px 30px;
    }
}

@include mobile {
    aside {
        display: none;
    }
    .main {
        margin-top: 30px;
        padding: 0 !important;
    }
    .container {
        padding: 0 30px;
    }
}

aside {
    text-align: right;
    @media (max-width: 1300px) {
        display: none;
    }
}
