@import "media-queries.scss";

.navigation {
    .navigation_home-button {
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

@media (min-width: $tablet-width - 1) {
    .navigation {
        height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        & > * {
            margin-bottom: 20px;
        }

        .social-media {
            width: 100%;
            display: flex;
            height: 20px;
            justify-content: space-evenly;

            svg {
                fill: white;
                width: 20px;
            }
        }

        h1 {
            font-size: 1.8em;
        }

        .navigation_home-button {
            height: 80px;
            width: 80px;
        }

        .navigation_menu {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            a,
            hr,
            p {
                width: 70%;
            }
        }
        
        .hamburger {
            display: none;
        }
    }
}

@include mobile {
    .navigation {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--bg-color);

        .navigation_mobile--hiden {
            display: none;
        }

        .navigation_home-button {
            width: 70px;
            height: 70px;
        }

        .navigation_hamburger {
            width: 30px;
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            transition: transform 330ms ease-out;
            z-index: 2;
            
            &.open {
                transform: rotate(-45deg);

                .hamburger_line {
                    &.start {
                        transform: rotate(-90deg) translateX(3px);
                    }

                    &.end {
                        transform: rotate(-90deg) translateX(-3px);
                    }
                }
            }

            .hamburger_line {
                background-color: #fff;
                border-radius: 5px;
                width: 100%;
                height: 6px;

                &.half {
                    width: 50%;
                }

                &.start {
                    transition: transform 330ms
                        cubic-bezier(0.54, -0.81, 0.57, 0.57);
                    transform-origin: right;
                }
                &.end {
                    align-self: flex-end;
                    transition: transform 330ms
                        cubic-bezier(0.54, -0.81, 0.57, 0.57);
                    transform-origin: left;
                }
            }    
        }
        .navigation_header {
            display: none;
        }

        .navigation_menu {
            position: absolute;
            left: 0;
            width: 100vw;
            height: 100vh;
            display: grid;
            place-content: center;
            text-align: center;
            background-color: var(--bg-color);
            z-index: 1;
            visibility: none;
            pointer-events: none;
            top: -100vh;
            transition: 330ms;

            @media screen and (orientation: portrait) {
                padding-bottom: 100px;
            }

            &.active {
                top: 0;
                visibility: visible;
                pointer-events: all;
            }

            a {
                font-size: 1.3em;
            }
        }
    }
}
