@import 'media-queries.scss';

.newsletter {

    padding: 0 50px;
    width: 100%;

    h1, p {
        margin-bottom: 20px;
    }

    .revue-form-group {
        label {
            margin-bottom: 10px;
            display: block;
        }
        .revue-form-field {
            display: block;
            width: 100%;
            height: 40px;
            background-color: var(--bg-color);
            border: 1px solid white;
            padding: 0px 15px;
            margin-bottom: 10px;
        }
    }

    .revue-form-actions {
        input {
            padding: 10px;
            background-color: transparent;
            border: 1px solid white;
        }
    }
}