{{ if or .NextInSection .PrevInSection }}
<div class="single_pagination">
    <div class="pagination_title">
    <span class="pagination_title-h"
        >Read other posts</span
    >
    </div>
    <div class="pagination_buttons">
    {{ if .NextInSection }}
        <span class="button previous">
        <a href="{{ .NextInSection.Permalink }}">
            <span class="button_icon">←</span>
            <span class="button_text">{{ .NextInSection.Title }}</span>
        </a>
        </span>
    {{ end }}
    {{ if .PrevInSection }}
        <span class="button next">
        <a href="{{ .PrevInSection.Permalink }}">
            <span class="button_text">{{ .PrevInSection.Title }}</span>
            <span class="button_icon">→</span>
        </a>
        </span>
    {{ end }}
    </div>
</div>
{{ end }}