{{ define "main" }}

<ul class="listing" id="listing">
    <!-- Ranges through content/posts/*.md -->
    {{ $paginator := .Paginate (where .Site.RegularPages ".Params.skipped" "ne" true).ByDate.Reverse 50 }}
    {{ range $paginator.Pages }}
        {{ partial "list-card" . }}
    {{ end }}
    <script>
        const masonryLayout = (containerElem, itemsElems, columns) => {
        containerElem.classList.add('masonry-layout', `columns-${columns}`)
        let columnsElements = []
        
        for( let i = 1; i <= columns; i++){
            let column = document.createElement('div')
            column.classList.add('masonry-column', `column-${i}`)
            containerElem.appendChild(column)
            columnsElements.push(column)
        }
        
        for(let m = 0; m < Math.ceil(itemsElems.length / columns); m++){
            for(let n = 0; n < columns; n++){
            let item = itemsElems[ m * columns + n]
            columnsElements[n].appendChild(item)
            item.classList.add('masonry-item')
            }
        }
        }

        masonryLayout(document.getElementById('listing'),
                    document.querySelectorAll('.list-card'), 2)
    </script>
</ul>
{{ partial "pager.html" . }}
{{ end }}

{{ define "stylesheets" }}
    {{ $list := resources.Get "scss/list/index.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $list.Permalink }}"> 
    {{ $listCard := resources.Get "scss/list/list-card.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $listCard.Permalink }}">
{{ end }}

{{ define "aside" }}
<div>
    {{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
    {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
        <div class="tagbutton">
    <a href={{ .RelPermalink }} title="All pages with category <i>{{$name}}</i>">{{$name}}</a>
    <sup>{{$cnt}}</sup>
        </div>
    {{end}}
    {{end}}
    </div>
{{ end }}
