{{ define "main" }}

<ul class="listing">
    <!-- Ranges through content/posts/*.md -->
    {{ $paginator := .Paginate (where .Site.RegularPages ".Params.skipped" "ne" true) 5 }}
    {{ range $paginator.Pages }}
        {{ partial "list-card" . }}
    {{ end }}
</ul>
{{ partial "pager.html" . }}
{{ end }}

{{ define "stylesheets" }}
    {{ $list := resources.Get "scss/list/index.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $list.Permalink }}"> 
{{ end }}