@import "../commons/media-queries.scss";

.article {
    word-wrap: break-word;
    p {
        font-family: "nunito";
        line-height: 1.6em;
        margin: 15px 0;
    }

    :not(.chroma) > code {
        background-color: white;
        color: black;
        padding: 0 2px;
        font-weight: bold;
        border-radius: 5px;
        margin: 0 3px;
    }

    blockquote {
        font-size: 0.9em;
        border-left: 2px dotted white;
        margin: 30px 0;
        padding: 0px 20px;

        p {
            color: rgba(255, 255, 255, 0.7);
        }

        a {
            color: rgba(255, 255, 255, 1);
        }
    }

    a {
        text-decoration: 2px underline white;
        font-style: italic;
    }

    ul,
    ol {
        margin: 15px 0;
        list-style-position: inside;

        li {
            line-height: 1.5em;
        }
    }

    img {
        width: 100%;

        @include desktop {
            margin: auto;
            width: 80% !important;
        }
    }
    h1,
    h2,
    h3,
    h4 {
        margin: 15px 0;
    }

    video {
        @include desktop {
            width: 70%;
        }
        width: 100%;
        margin: auto;
    }
}

.single-header {
    margin-bottom: 30px;
    & .single-header_title {
        padding-bottom: 10px;
    }
}

.article-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .article-bottom_btn {
        padding: 10px;
        border-radius: 5px;
        text-decoration: none !important;
        transition: 0.5s;
        display: inline-flex;
        align-items: center;
        margin-top: 10px;
    }

    .share-twitter-btn {
        border: 1px solid #1da1f2;

        &:hover {
            background-color: #1da1f2;
            svg {
                stroke: white;
            }
        }

        svg {
            width: 20px;
            fill: #1da1f2;
            margin-right: 10px;
            transition: 0.5s;
        }
    }

    .newsletter-btn {
        border: 1px solid white;

        &:hover {
            background-color: white;
            color: black;
            font-weight: bold;
        }
    }
}

.utterances {
    width: 100% !important;
    max-width: 100%;
}

.comments {
    text-align: center;

    #commentsNotice {
        opacity: 0;
        color: #5c5c5c;
        transition: 0.3s ease-in-out;
        a {
            color: #5c5c5c;
            text-decoration: underline;
        }
    }
}
