@import "../commons/media-queries.scss";

.article {
    padding: 15px 35px 35px 35px;
    border-radius: 5px;
    background-color: var(--elevation-color);
    word-wrap: break-word;
    margin-bottom: 50px;
    border: 1px solid #343434;

    @include mobile {
        padding: 10px;
    }

    ul {
        list-style: auto;
    }

    p {
        font-family: "inter";
        line-height: 1.6em;
        margin: 15px 0;
    }

    :not(.chroma) > code {
        background-color: white;
        color: black;
        padding: 0 5px;
        font-weight: bold;
        margin: 0 3px;
    }

    strong {
        background-color: white;
        color: black;
        padding: 0 5px;
        font-weight: bold;
        margin: 0 3px;
    }

    blockquote {
        font-size: 0.9em;
        border-left: 2px dotted white;
        margin: 30px 0;
        padding: 0px 20px;

        p {
            color: rgba(255, 255, 255, 0.7);
        }

        a {
            color: rgba(255, 255, 255, 1);
        }
    }

    p {
        a {
            text-decoration: 1px underline white !important;
            -webkit-text-decoration-line: underline white;
            font-style: italic;
        }
    }

    ul,
    ol {
        margin: 15px 0;
        list-style-position: inside;

        li {
            line-height: 1.5em;
        }
    }

    img {
        width: 70% !important;
    }

    img[alt~="big"] {
        width: 100% !important;
    }

    img[alt~="small"] {
        width: 50% !important;
    }

    h1,
    h2,
    h3,
    h4 {
        margin: 15px 0;
    }

    video {
        @include desktop {
            width: 70%;
        }
        width: 100%;
        margin: auto;
    }
}

.single-header {
    margin-bottom: 30px;
    & .single-header_title {
        padding-bottom: 10px;
        font-size: 2.2em !important;
        font-weight: bold !important;
        font-family: "inter" !important;
    }

    a {
        text-decoration: 1px underline white !important;
        -webkit-text-decoration-line: underline white;
    }

    & p,
    h1 {
        margin: 0;
        padding: 0;
        line-height: normal !important;
    }
}

.article-bottom {
    margin-bottom: 30px;

    h2 {
        margin: 40px 0 30px 0;
    }

    .share-buttons {
        display: flex;
        flex-wrap: wrap;

        .article-bottom_btn {
            display: flex;
            align-items: center;
            width: auto;
            border-radius: 20px;
            padding: 8px;
            transition: 0.2s;

            svg {
                width: 20px;
                margin-right: 10px;
                transition: 0.5s;
            }

            margin: 0 5px;

            &:first-child {
                margin: 0 5px 0 0;
            }
            &:last-child {
                margin: 0 0 0 5px;
            }
        }

        .like-twitter-btn {
        }

        .share-twitter-btn {
            border: 2px solid #1da1f2;

            &:hover {
                background-color: #1da1f2;
                svg {
                    stroke: white;
                    fill: white;
                }
            }

            svg {
                fill: #1da1f2;
            }
        }

        .share-reddit_btn {
            border: 2px solid #ff4500;

            &:hover {
                background-color: #ff4500;
                svg {
                    stroke: white;
                    fill: white;
                }
            }

            svg {
                fill: #ff4500;
            }
        }
    }
}

.copy-code-button {
    color: #272822;
    background-color: #fff;
    border-color: #272822;
    border: 2px solid;
    border-radius: 3px 3px 0px 0px;

    /* right-align */
    display: block;
    margin-left: auto;
    margin-right: 0;

    margin-bottom: -2px;
    padding: 3px 8px;
    font-size: 0.8em;

    &:hover {
        cursor: pointer;
        background-color: white;
    }

    &:focus {
        /* Avoid an ugly focus outline on click in Chrome,
           but darken the button for accessibility.
           See https://stackoverflow.com/a/25298082/1481479 */
        background-color: white;
        outline: 0;
    }

    &:active {
        background-color: white;
    }
}

.mentions {
    padding: 0 35px;

    @include mobile {
        padding: 0 10px;
    }

    h2 {
        font-size: 2.3em;
        margin-bottom: 30px;
    }

    .mention-container {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 20px;
        margin-bottom: 20px;

        h3 {
            padding-top: 15px;
        }

        .people {
            display: flex;
            flex-wrap: wrap;

            a {
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin-right: -10px;
                    border: 3px solid var(--bg-color);
                }

                &:hover {
                    z-index: 10;
                }
            }

            .tweet-twitter-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                padding: 8px;
                transition: 0.2s;
                margin-right: -10px;
                background-color: #1da1f2;

                &:hover {
                    background-color: white;

                    svg {
                        fill: #1da1f2;
                    }
                }

                svg {
                    fill: white;
                    margin: 0;
                    width: 20px;
                }
            }

            .like-twitter-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                padding: 8px;
                transition: 0.2s;
                margin-right: -10px;
                background-color: #c21465;

                &:hover {
                    background-color: white;

                    svg {
                        fill: #c21465;
                    }
                }

                svg {
                    fill: white;
                    margin: 0;
                    width: 20px;
                }
            }
        }
    }

    .replies-container {
        h3 {
            padding-top: 15px;
            margin-bottom: 30px;
            text-decoration: underline white;
            -webkit-text-decoration-line: underline white;
        }

        .replies {
            .reply {
                width: 100%;
                background-color: var(--elevation-color);
                padding: 25px 15px;
                border: 1px solid #343434;
                word-break: break-all;
                margin-bottom: 20px;
                border-radius: 5px;

                &:hover {
                    background-color: var(--second-elevation-color);
                }

                .top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .name {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        text-decoration: 1px underline white !important;
                        -webkit-text-decoration-line: underline white;
                    }

                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
                }
            }

            .text {
                margin: 15px 20px;
            }
        }
    }
}

@include desktop {
    .masonry-layout {
        --columns: 1;
        --gap: 1.2rem;
        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-gap: var(--gap);
    }
    .masonry-layout .masonry-item {
        margin-bottom: var(--gap);
    }
    .masonry-layout.columns-1 {
        --columns: 1;
    }
    .masonry-layout.columns-2 {
        --columns: 2;
    }
}

.editPage {
    display: flex;
    color: #808080;
    text-decoration: none !important;

    svg {
        height: 1em;
        width: 1em;
        fill: #808080;
        margin-right: 7px;
    }
}
