.toc {
    position: sticky;
    top: 40px;
    align-self: start;
    text-align: left;
    
    
    ul {
        li {
            a {
                opacity: 50%;
                transition: all 50ms ease-in-out;
                &:hover {
                    opacity: 100%;
                }
            }
            &.active > {
                a {
                    opacity: 100%;
                }
            }

            ul {
                padding: 5px 0 5px 15px;
            }
        }
    }
}
